.header,
.footer,
.wrap-page {
	position: absolute;
	left: 0;
	right: 0;
}

.footer,
.header {
	height: 44px;
	background-color: #fff;
	text-align: center;
	z-index: 900;
	line-height: 44px;
}

.header {
	top: 0;
	border-bottom: 1px solid #f00;
}

.footer {
	bottom: 0;
	border-top: 1px solid #f00;
}

.wrap-page {
	top: 44px;
	bottom: 44px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.page {
	padding: 10px;
}

.page p {
	margin-bottom: 10px;
}