/*优先实现小屏幕下的布局*/
.menu{
   list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;

}
.menu li{
    height: 40px;
    text-align: center;
    line-height: 40px;
    flex: 1 1 100%;

}
.menu li a{
    color: white;
    text-decoration: none;
}
.menu li:nth-child(1){
    background-color: #007aff;
}
.menu li:nth-child(2){
    background-color: #009900;
}
.menu li:nth-child(3){
    background-color: #ff6600;
}
.menu li:nth-child(4){
    background-color: #555555;
}
.menu li:nth-child(5){
    background-color: #fcd3a5;
}
.menu li:nth-child(6){
    background-color: #f087d8;
}


@media (min-width: 480px ) {
    .menu li{
        flex: 1 1 50%;
    }
}

@media (min-width: 768px ) {
    .menu {
       flex-flow: row nowrap;
    }
}